
{% extends 'base/front_base.html' %}
{% block title %}
课程首页
{% endblock %}
{% block head %}
 <link rel="stylesheet" href="{% static 'css/course/course_index.min.css'%}">
{% endblock %}
{% block main %}
    <div class="main">
        <div class="nav-wrapper">
            <div class="course-nav">
                <h3 class="title">在线课堂</h3>
                <ul class="course-list">
                    <li class="active"><a href="">最新课堂</a></li>
                    <li><a href="">投资人说</a></li>
                    <li><a href="">明星案例</a></li>
                    <li><a href="">创业知识</a></li>
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <ul class="course-group">
                {% for course in courses %}
                    <li>
                    <a href="{% url 'course:detail' course_id=course.id %}">
                        <div class="thumbnail-group">
                            <img class="thumbnail" src="{{ course.cover_url }}" alt="">
                        </div>
                        <div class="course-info">
                            <p class="title">{{ course.title }}</p>
                            <p class="author">{{ course.teacher.username }}</p>
                            <p class="pay-group">
                                {% if course %}
                                    <span class="need-pay">￥{{ course.price }}</span>
                                    {% else %}
                                    <span class="free">免费</span>
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>
{% endblock %}