
{% extends 'base/front_base.html' %}
{% load time_filter %}
{% block title %}
搜索
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/search/search.min.css' %}">
{% endblock %}
{% block main %}
    <div class="main">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <div class="search-box">
                    <form action="" method="get">
                        <input type="text" value="{{ query }}" placeholder="请输入标题、内容、作者、分类关键字" name="q" class="search-input">
                        <input type="submit" class="search-btn" value="搜索">
                    </form>
                </div>
                <div class="hot-recommand-wrapper">
                    <p class="item-title">
                        热门推荐
                    </p>
                    <ul class="search-group">
                        {% if page.object_list %}
                        {% for result in page.object_list %}
                            {% with result.object as news %}
                                <li>
                                    <div class="thumbnail-group">
                                        <a href="#">
                                            <img src="{{ news.thumbnail }}" alt="">
                                        </a>
                                    </div>
                                    <div class="news-group">
                                        <p class="title"><a
                                                href="{% url 'news:detail' news_id=news.pk %}">{{ news.title }}</a>
                                        </p>
                                        <p class="desc">{{ news.desc }}</p>
                                        <p class="more">
                                            <span class="category">{{ news.category.name }}</span>
                                            <span class="author">{{ news.author.username }}</span>
                                            <span class="pub-date">{{ news.pub_time | time_since }}</span>
                                        </p>
                                    </div>
                                </li>
                            {% endwith %}
                        {% endfor %}
                            {% else %}
                        {% most_commented_news as newses %}
                            {% for news in newses %}
                            <li>
                                <div class="thumbnail-group">
                                    <a href="{% url 'news:detail' news.id %}">
                                        <img src="{{ news.thumbnail }}" alt="">
                                    </a>
                                </div>
                                <div class="news-group">
                                    <p class="title"><a href="{% url 'news:detail' news.id %}">{{ news.title }}</a></p>
                                    <p class="desc">{{ news.desc }}</p>
                                    <p class="more">
                                        <span class="category">{{ news.category.name }}</span>
                                        <span class="author">{{ news.author.username }}</span>
                                        <span class="pub-date">{{ news.pub_time|time_since }}</span>
                                    </p>
                                </div>
                            </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% include 'base/siderbar.html' %}
        </div>
    </div>
{% endblock %}