
{% extends 'base/front_base.html' %}
{% load  time_filter %}
{% block title %}{{ news.title }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/news/news_detail.min.css' %}">
    <script src="{% static 'js/template-web.js' %}"></script>
    <script src="{% static 'js/news_detail.min.js' %}"></script>
    <script type="text/html" id="comment-item">
        {% verbatim %}
        <li>
            <div class="comment-info">
                <img class="avatar" src="http://p4po0bo7a.bkt.clouddn.com/o_1c81j1rnk12gb139917d899qmk6c.jpg"
                     alt="">
                <span class="author">{{ comment.author.username }}</span>
                <span class="pub-date">{{ comment.pub_time|timesince }}</span>
            </div>
            <p class="comment-content">{{ comment.content }}</p>
            <div class="manage-comment">
                <a class="reply" href="">回复</a>
                <a class="cancel" href="">删除</a>
            </div>
        </li>
        {% endverbatim %}
    </script>
{% endblock %}
{% block main %}
    <div class="main">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <div class="news-wrapper">
                    <h1 class="title">{{ news.title }}</h1>
                    <div class="news-info">
                        <div class="info-group">
                            <span class="author">{{ news.author.username }}</span>
                            <span class="pub-date">{{ news.pub_time|time_since }}</span>
                            <span class="category">{{ news.category.name }}</span>
                        </div>
                        <div class="share-info">
                            <span>分享至：</span>
                            <a class="weixin"></a>
                            <a href="" class="weibo"></a>
                        </div>
                    </div>
                    <article class="article">
                    {{ news.content|safe }}
                    </article>
                </div>
                <div class="comment-wrapper">
                    <h3 class="title">评论列表</h3>
                    <textarea  name="comment" id="" class="textarea-comment logined-textarea" placeholder="登录账号，发表评论" ></textarea>
                    <div class="submit-btn">
                        <button class="commit-btn" data-id="{{ news.id }}">评论</button>
                    </div>
                    <ul class="comment-list">
                        {% for comment in news.comments.all %}
                            <li>
                            <div class="comment-info">
                                <img class="avatar" src="http://p4po0bo7a.bkt.clouddn.com/o_1c81j1rnk12gb139917d899qmk6c.jpg"
                                     alt="">
                                <span class="author">{{ comment.author.username }}</span>
                                <span class="pub-date">{{ comment.pub_time|time_since }}</span>
                            </div>
                            <p class="comment-content">{{ comment.content }}</p>
                            <div class="manage-comment">
                                <a class="reply" href="">回复</a>
                                <a class="cancel" href="">删除</a>
                            </div>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
            {% include 'base/siderbar.html' %}
        </div>
    </div>
{% endblock %}