
{% extends 'base/front_base.html' %}
{% block title %}

{% endblock %}
{% block head %}
 <link rel="stylesheet" href="{% static 'css/payinfo/payinfo.min.css' %}">
{% endblock %}
{% block main %}
<div class="main">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <div class="img-wrapper">
                    <img src="https://www.xfz.cn/static/build/images/web-venture-banner.png" alt="">
                </div>
                <div class="bottom-wrapper">
                    <ul class="course-list">
                        <li>
                            <a href="">
                                <div class="left-group">
                                </div>
                                <div class="right-group">
                                    <p class="title">如何写好一份商业计划书</p>
                                    <p class="desc">一份好的商业计划书，是创业成功的开始</p>
                                    <div class="pay-box">
                                        <p class="pay">￥8.9</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="left-group">
                                </div>
                                <div class="right-group">
                                    <p class="title">如何写好一份商业计划书</p>
                                    <p class="desc">一份好的商业计划书，是创业成功的开始</p>
                                    <div class="pay-box">
                                        <p class="pay">￥8.9</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="left-group">
                                </div>
                                <div class="right-group">
                                    <p class="title">如何写好一份商业计划书</p>
                                    <p class="desc">一份好的商业计划书，是创业成功的开始</p>
                                    <div class="pay-box">
                                        <p class="pay">￥8.9</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="left-group">
                                </div>
                                <div class="right-group">
                                    <p class="title">如何写好一份商业计划书</p>
                                    <p class="desc">一份好的商业计划书，是创业成功的开始</p>
                                    <div class="pay-box">
                                        <p class="pay">￥8.9</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="left-group">
                                </div>
                                <div class="right-group">
                                    <p class="title">如何写好一份商业计划书</p>
                                    <p class="desc">一份好的商业计划书，是创业成功的开始</p>
                                    <div class="pay-box">
                                        <p class="pay">￥8.9</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="left-group">
                                </div>
                                <div class="right-group">
                                    <p class="title">如何写好一份商业计划书</p>
                                    <p class="desc">一份好的商业计划书，是创业成功的开始</p>
                                    <div class="pay-box">
                                        <p class="pay">￥8.9</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="left-group">
                                </div>
                                <div class="right-group">
                                    <p class="title">如何写好一份商业计划书</p>
                                    <p class="desc">一份好的商业计划书，是创业成功的开始</p>
                                    <div class="pay-box">
                                        <p class="pay">￥8.9</p>
                                    </div>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            {% include 'base/siderbar.html' %}
        </div>
    </div>
{% endblock %}