
{% extends 'base/front_base.html' %}
{% load  payinfo_filters %}
{% block title %}

{% endblock %}
{% block head %}
 <link rel="stylesheet" href="{% static 'css/payinfo/payinfo.min.css' %}">
{% endblock %}
{% block main %}
<div class="main">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <div class="img-wrapper">
                    <img src="https://www.xfz.cn/static/build/images/web-venture-banner.png" alt="">
                </div>
                <div class="bottom-wrapper">
                    <ul class="course-list">
                        {% for payinfo in payinfos %}
                        <li>
                                {% with payinfo|is_buyed:user as buyed  %}
                                    {% if buyed %}
                                        <a href="{% url 'payinfo:download' %}?payinfo_id={{ payinfo.pk }}">
                                    {% else %}
                                        <a href="{% url 'payinfo:payinfo_order' %}?payinfo_id={{ payinfo.pk }}">
                                    {% endif %}
                                    <div class="left-group">
                                    </div>
                                    <div class="right-group">
                                        <p class="title">{{ payinfo.title }}</p>
                                        <p class="desc">{{ payinfo.desc }}</p>
                                        <div class="pay-box">
                                            <p class="pay">
                                                {% if buyed %}
                                                    立即下载
                                                {% else %}
                                                    ￥{{ payinfo.price }}
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                {% endwith %}
                            </a>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
            {% include 'base/siderbar.html' %}
        </div>
    </div>
{% endblock %}