{% load time_filter %}
<div class="sidebar-wrapper">
                <div class="title-group">
                    <span class="title">在线课堂</span>
                    <a href="" class="more">更多</a>
                </div>
                <div class="advirtise-group">
                    <img src="https://static-image.xfz.cn/1522742181_78.png-website.active.list" alt="">
                </div>
                <div class="title-group">
                    <span class="title">关注小饭桌</span>
                </div>
                <div class="focus-group">
                    <ul class="left-group">
                        <li class="zhihu"><a href="">小饭桌创业课堂</a></li>
                        <li class="weibo"><a href="">小饭桌创业课堂</a></li>
                        <li class="toutiao"><a href="">小饭桌</a></li>
                    </ul>
                    <div class="right-group">
                        <p class="desc">
                            扫码关注小饭桌微信公众平台xfz008
                        </p>
                    </div>
                </div>
                <div class="hot-news-group">
                    <div class="title-group">
                        <span class="title">热门推荐</span>
                    </div>
                    <ul class="list-group">
                            {% if most_viewed %}
                                {% for news in most_viewed %}
                                    <li>
                                        <div class="left-group">
                                            <p class="title"><a href="{% url 'news:detail' news_id=news.id %}">{{ news.title }}</a></p>
                                            <p class="more">
                                                <span class="category">{{ news.category.name }}</span>
                                                <span class="pub-date">{{ news.pub_time|time_since }}</span>
                                            </p>
                                        </div>
                                        <div class="right-group">
                                            <a href="{% url 'news:detail' news_id=news.id %}"><img src="{{ news.thumbnail }}"alt=""></a>
                                        </div>
                                    </li>
                                {% endfor %}
                                {% else %}
                                {% most_commented_news as newes %}
                                {% for news in newses %}
                                <li>
                                        <div class="left-group">
                                            <p class="title"><a href="{% url 'news:detail' news_id=news.id %}">{{ news.title }}</a></p>
                                            <p class="more">
                                                <span class="category">{{ news.category.name }}</span>
                                                <span class="pub-date">{{ news.pub_time|time_since }}</span>
                                            </p>
                                        </div>
                                        <div class="right-group">
                                            <a href="{% url 'news:detail' news_id=news.id %}"><img src="{{ news.thumbnail }}"alt=""></a>
                                        </div>
                                    </li>
                                {% endfor %}

                            {% endif %}
                    </ul>
                </div>
            </div>