<div class="sidebar-wrapper">
                <div class="title-group">
                    <span class="title">在线课堂</span>
                    <a href="" class="more">更多</a>
                </div>
                <div class="advirtise-group">
                    <img src="https://static-image.xfz.cn/1522742181_78.png-website.active.list" alt="">
                </div>
                <div class="title-group">
                    <span class="title">关注小饭桌</span>
                </div>
                <div class="focus-group">
                    <ul class="left-group">
                        <li class="zhihu"><a href="">小饭桌创业课堂</a></li>
                        <li class="weibo"><a href="">小饭桌创业课堂</a></li>
                        <li class="toutiao"><a href="">小饭桌</a></li>
                    </ul>
                    <div class="right-group">
                        <p class="desc">
                            扫码关注小饭桌微信公众平台xfz008
                        </p>
                    </div>
                </div>
                <div class="hot-news-group">
                    <div class="title-group">
                        <span class="title">热门推荐</span>
                    </div>
                    <ul class="list-group">
                        <li>
                            <div class="left-group">
                                <p class="title"><a href="">
                                    比亚迪 百度Apollo 大道用车三方携手创新共享汽车新模式
                                </a></p>
                                <p class="more">
                                    <span class="category">深度热点</span>
                                    <span class="pub-date">2018-1-22</span>
                                </p>
                            </div>
                            <div class="right-group">
                                <a href=""><img src="https://static-image.xfz.cn/1528267503_674.jpg-website.news.list" alt=""></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>